---
import { HTML_MSG } from "../constants/htmlMsgs.js";
---
<header class='text-center p-8 mb-4'>
	<h1 class='text-5xl font-bold text-cyan-600 dark:text-yellow-400/70'>{HTML_MSG.TITLE}</h1>
</header>
