---
const { id, name, onBasket } = Astro.props;
import Check from './icons/Check.astro';
import Uncheck from './icons/Uncheck.astro';
import Delete from './icons/Delete.astro';
---

<li
	id={id.toString()}
	class='flex items-center justify-between p-2 gap-5 bg-gray-100 dark:bg-gray-800/70 rounded-md'
>
	<span>{name}</span>
	<div class='flex items-center justify-center gap-3'>
		<button
			class={`px-2 py-1 rounded-md ${
				onBasket ? 'bg-green-500 text-white' : 'bg-blue-500 text-white'
			}`}
		>
			{onBasket ? <Check class='size-5' /> : <Uncheck class='size-5' />}
		</button>
		<button class='px-2 py-1 bg-red-500 text-white rounded-md'>
			<Delete class='size-5' />
		</button>
	</div>
</li>
